<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <!-- IE any version compatible -->
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <!-- optimized for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
        <!-- <link rel="shortcut icon" href=""> -->
        <!-- bootstrap 4.0.0-beta css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <!-- jquery ui 1.12.1 css -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- materialize css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
        <!-- icons fonts -->
        <link rel="stylesheet" href="/icons-fonts/glyphicon-style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel='stylesheet' href="/stylesheets/style.css"/>
        <link rel='stylesheet' href="/stylesheets/navbar.css"/>
        <link rel='stylesheet' href="/stylesheets/content.css"/>

    </head>
    <body>
        <!-- mobile -->
        <div class="nav-mobile">
            <label for="menu-toggle" class="menubtn"><i class="fa fa-bars">&emsp;Menu</i></label>
            <input type="checkbox" id="menu-toggle">
            <div class="menu">
                <!-- <span class="arrow"></span> -->
                <div class="menulist">
                    <form class="search-container">
                        <input type="text" placeholder="Search instructions, notes..." id="searchbar">
                        <a href="#"><i class="fa fa-search searchicon"></i></a>
                    </form>
                    <a href="#">首頁</a>
                    <li class="divider"></li>
                    <a href="#">學習</a>
                    <a href="#">筆記</a>
                    <li class="divider"></li>
                    <a href="#">登入</a>
                    <a href="#">註冊</a>
                </div>
            </div>
        </div>
        
        <!-- desktop/tablet -->
        <div class="navbar">
            <a href=""><font class="navlink1"><i class="fa fa-bars">&emsp;Menu</i></font></a>
            <div class="right">
                <a href=""><font class="navlink2"><i class="fa fa-search"></i></font></a>
                <a href=""><font class="navlink2">登入</font></a>
                <a href=""><font class="navlink2">註冊</font></a>
            </div>
        </div>
        <!-- menu slide -->
        <div class="slide">
            <div class="slidetitle">
                <a href="#"><i class="fa fa-times"></i>&emsp;Menu</a>
            </div>
            <div class="slidebody">
                <a href="#">學習</a>
                <a href="#">筆記</a>
            </div>
        </div>

        <!-- Javascript -->
        <!-- jquery 3.2.1 js -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- jquery UI 1.12.1 js -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <!-- popper 1.11.0 js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <!-- bootstrap 4.0.0-beta js -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <!-- materialize js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

        <script type="text/javascript" src="/javascripts/navbar.js"></script>
    </body>
</html>