<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <!-- IE any version compatible -->
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <!-- optimized for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
        <!-- <link rel="shortcut icon" href=""> -->
        <!-- bootstrap 4.0.0-beta css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <!-- jquery ui 1.12.1 css -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- materialize css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
        <!-- icons fonts -->
        <link rel="stylesheet" href="/icons-fonts/glyphicon-style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel='stylesheet' href="/stylesheets/style.css"/>
        <link rel='stylesheet' href="/stylesheets/navbar.css"/>
        <link rel='stylesheet' href="/stylesheets/content.css"/>

    </head>
    <body>
        <!-- mobile -->
        <div class="nav-mobile">
            <label for="menu-toggle" class="menubtn"><i class="fa fa-bars">&emsp;Menu</i></label>
            <input type="checkbox" id="menu-toggle">
            <div class="menu" id="mobilemenu">
                <form class="searchform mobile">
                    <input type="text" placeholder="Search instructions, notes..." name="search" id="mobilesearchbar">
                    <button type="submit" class="searchbtn mobile"><i class="fa fa-search"></i></button>
                </form>
                <a href="" id="changetoindex">首頁</a>
                <li class="divider"></li>
                <a href="#m_learning">學習</a>
                <a href="#m_note">筆記</a>
                <li class="divider"></li>
                <a href="#m_login">登入</a>
                <a href="#m_signup">註冊</a>
            </div>
        </div>

        <!-- desktop/tablet -->
        <div class="navbar">
            <div class="left">
                <a href="#menu"><i class="fa fa-bars">&emsp;<font class="navlink2">Menu</i></font></a> 
                <form class="searchform">
                    <input type="text" placeholder="Search instructions, notes..." name="search" id="searchbar">
                    <button type="submit" class="searchbtn"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="right">
                <a href="#login"><font class="navlink2">登入</font></a>
                <a href="#signup"><font class="navlink2">註冊</font></a>
            </div>   
        </div>
        <!-- menu slide -->
        <div class="slide" id="menusidepage">
            <div class="slidetitle">
                <a href="#" id="closemenu"><i class="fa fa-times"></i>&emsp;Menu</a>
            </div>
            <div class="slidebody">
                <a href="#learning">學習</a>
                <a href="#note">筆記</a>
            </div>
        </div>
        <!-- menu: learning slide -->
        <div class="slide sec" id="learningsidepage">
            <a href="#" id="backslide"><i class="fa fa-angle-left"></i>&ensp;Back</a>
            <div class="slidesectitle">
                學習<p></p>
            </div>
            <div class="slidebody sec">
                <a href="#">Array</a>
                <a href="#">Stack & Queue</a>
                <a href="#">List</a>
                <a href="#">Tree</a>
                <a href="#">Graph</a>
                <a href="#">Sort</a>
            </div>
        </div>
        <!-- menu: note slide -->
        <div class="slide sec" id="notesidepage">
            <a href="#" id="backslide"><i class="fa fa-angle-left"></i>&ensp;Back</a>
            <div class="slidesectitle">
                筆記<p></p>
            </div>
            <div class="slidebody sec">
                <a href="#">HOT 熱門</a>
                <a href="#">TAG 排序</a>
            </div>
        </div>
        <!-- signup slide -->
        <div class="slide right" id="signupsidepage">
            <div class="slidetitle">
                <a href="#" id="closesignup"><i class="fa fa-times"></i>&emsp;註冊</a>
            </div>
            <div class="slidebody center">
                <button class="cusbtn google"><i class="fa fa-google"></i>&emsp;&ensp;使用Google帳號註冊</button>
                <p class="or"><span>or</span></p>
                <form action="/signup" method="POST" class="emailform">
                    <p class="inputtitle account">Email *</p><input type="email" name="email" id="inputbar" required>
                    <p class="inputtitle account">暱稱 *</p><input type="text" name="username" id="inputbar" required>
                    <p class="inputtitle account">密碼 *</p><input type="password" name="password" id="inputbar" required>
                    <p class="inputtitle account">確認密碼 *</p><input type="password" name="password" id="inputbar" required>
                    <input type="submit" class="cusbtn submit" name="signup" value="註冊">
                </form>
                <hr>
                <a href="#" class="footlink right" id="changetologin">已有帳號了?</a>
            </div>
        </div>
        <!-- login slide -->
        <div class="slide right" id="loginsidepage">
            <div class="slidetitle">
                <a href="#" id="closelogin"><i class="fa fa-times"></i>&emsp;登入</a>
            </div>
            <div class="slidebody center">
                <button class="cusbtn google"><i class="fa fa-google"></i>&emsp;&ensp;使用Google帳號註冊</button>
                <p class="or"><span>or</span></p>
                <form class="emailform">
                    <p class="inputtitle account">Email</p><input type="email" name="email" id="inputbar" required>
                    <p class="inputtitle account">密碼</p><input type="password" name="password" id="inputbar" required>
                    <input type="submit" class="cusbtn submit" name="signup" value="登入">
                </form>
                <hr>
                <a href="" class="footlink left" id="changetosignup">忘記密碼?</a>
                <a href="" class="footlink right" id="changetosignup">註冊新帳號</a>
            </div>
        </div>

        <!-- Javascript -->
        <!-- jquery 3.2.1 js -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- jquery UI 1.12.1 js -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>
        <!-- popper 1.11.0 js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <!-- bootstrap 4.0.0-beta js -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <!-- materialize js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

        <script type="text/javascript" src="/javascripts/navbar.js"></script>
    </body>
</html>