<!DOCTYPE html>
<html>
	<%- include background %>
	<div class="content indexpage">
		<!-- <% if (success) { %>
		<div class="alert alert-success alert-dismissable">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong><i class="fa fa-check"></i></strong>&ensp;<%= success %>
		</div>
	    <% } %>
	    <% if (error) { %>
	    <div class="alert alert-danger alert-dismissable">
	    	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	    	<strong><i class="fa fa-times"></i></strong>&ensp;<%= error %>
	    </div>
	    <% } %> -->

	    index

	</div>
</html>