.indexpic {
	background: #fff;
	width: 90vw;
	height: 82vh;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -38vh 0 0 -45vw;
	z-index: -1;
}

/*mobile*/
@media screen and (max-width: 600px) {
	.indexpic {
		width: 100vw;
		height: 100vh;
		left: 0;
		margin: -38vh 0 0 0;
	}
}