.indexpic {
	background: #fff;
	width: 90vw;
	height: 82vh;
	position: relative;
	z-index: 0;
	margin: 0 auto;
	top: 12vh;
}

/*mobile*/
@media screen and (max-width: 600px) {
	.indexpic {
		width: 100vw;
		position: absolute;
		top: 12vh;
		z-index: -1;
	}
}