.content {
	background: #fff;
	width: 90vw;
	height: 85vh;
	position: absolute;
	z-index: 0;
	overflow: auto;
	top: 10vh;
	left: 50%;
	transform: translateX(-50%);
}
.content.indexpage,
.content.tree {
	overflow: hidden;
}

/*mobile*/
@media screen and (max-width: 768px) {
	.content {
		width: 100vw;
		z-index: -1;
	}
}